// Colors
$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
//$accent-green: #95D676;
$accent-green: #53D216;
$deep-blue: #0E76D6;
$smort-blue: darken($accent-blue, 10);
$smort-yellow: #FFC206;
$deep-gray: #555555;
$rebecca: rebeccapurple;
$accent-pink: #FF99AA;
$deep-red: #F02A2A;
