.todo {
  align-items: center;
  display: flex;
  align-items: center;
  padding:  1rem;
  transition: background .3s ease;
  
  p, input {
    cursor: pointer;
    margin: 0;
  }
  
  > div {
    flex: 1 1 auto;
    cursor: pointer;
  }
  
  >:first-child {
    flex: 0 0 24px;
    align-self: stretch;
    display: flex;
    align-items: center;
    //margin-right: 1rem;
  }
  
  >:last-child {
    flex: 0 0 18px;
    
    font-size: 1.4rem;
    text-align: right;
    color: #999;
    
    span:hover {
      color: red;
      font-weight: bolder;
    }
  }
    
  &:hover {
    background: #f0f0f0;
  }
    
  .todo__text {margin: .5rem 0rem .5rem 0rem;}
}

.todo__subtext {
  color: #999;
  font-size: .8rem;
}

.todo-completed {//margin: 1rem 0 2rem 0;
  .todo__text {
    color: $light-color;
    text-decoration: line-through;
    
  }
  .todo__subtext {
    color: $light-color;
  }
}
