@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

//html { height: 100%; overflow:auto; }

body {//height: 100%;
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  
  &.no-justify {
    justify-content: flex-start;
  }
  &.align {
    align-items: center;
  }
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: $accent-blue;
    font-size: 1.2rem;
    padding: 0 10px 5px 10px;
    &:hover {
      color: $smort-blue;
    }
    &.active {
      border-bottom: 1px solid $accent-blue;
    }
  }
}

.view-container {
  
}
