
.dungeon, .dungeon::before, .dungeon::after {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: content-box;
}

.dungeon {
  display: flex;
  flex-direction: column;
  // height: 1600px;
  // width: 600px;
  border: 1px solid $smort-blue;
  //overflow: scroll;
}
