
.dungeon, .dungeon::before, .dungeon::after {
  box-sizing: content-box;
}

.dungeon {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $smort-blue;
}

.darkness {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  mix-blend-mode: multiply;
  cursor: pointer;
  overflow: hidden;
  .see-through {
    position: relative;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background-color: white;
  }
}

.info-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  .container {
    flex: 0 1 auto;
    background-color: $main-bg-color;
    //width: rem-calc(400);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $accent-blue;
    border-left: 1px solid $accent-blue;
    border-right: 1px solid $accent-blue;
  }
  
  .tab {
    flex: 1 1 10%;
    //width: 14%;
    //max-width: 90px;
    padding: rem-calc(0 14);
    text-align: center;
    p {
      line-height: 1;
      margin: 8px 0;
      color: #777;
    }
  }
  
  .icon {
    vertical-align: middle;
    padding: rem-calc(0 5);
    &.game-lvl {
      fill: $accent-pink;
    }
    &.player-lvl {
      fill: $deep-blue;
    }
    &.life {
      fill: $deep-red;
    }
    &.experience {
      fill: $accent-orange;
    }
    &.weapon {
      fill: $smort-yellow;
    }
    &.damage {
      fill: $rebecca;
    }
    &.lvl-door {
      fill: $deep-gray;
    }
  }
}

.reveal-overlay {
  overflow: hidden;
}
