footer {
  flex: 0 0 auto;
  font-size: 0.75em;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
    
    p { margin-bottom: 0; }

    &:hover {
      color: $accent-blue;
    }
  }
}
