
.map-row {
  display: flex;
}

.map-tile {
  line-height: 0;
  background-color: $main-bg-color;
  
  &.wall {
    background-color: $accent-blue;
  }
  
  &.floor {
    background-color: $main-bg-color;
  }
}

.map-tile-inner {
  &.wall {
    background-color: $accent-blue;
  }
  
  &.floor {
    background-color: $main-bg-color;
  }
  
  &.door {
    background-color: $main-bg-color;
  }
  
  &.foe {
    background-color: $accent-orange;
    border-radius: 50%;
  }
  
  &.heart {
    background-color: $accent-green;
  }
  
  &.player {
    background-color: $deep-blue;
    border-radius: 50%;
  }
  
  &.weapon {
    background-color: $smort-yellow;
  }
  
  &.boss {
    background-color: $rebecca;
    border-radius: 50%;
  }
  
  &.lvl-door {
    background-color: $deep-gray;
  }
}
