

.map-row {
  display: flex;
}

.map-tyle {
  flex: 1 1 10px;
  width: 14px;
  height: 14px;
  
  &.wall {
    background-color: $accent-blue;
  }
  
  &.floor {
    background-color: $main-bg-color;
  }
  
  &.door {
    background-color: $main-bg-color;
  }
  
  &.foe {
    background-color: $accent-orange;
  }
  
  &.heart {
    background-color: $accent-green;
  }
  
  &.player {
    background-color: $deep-blue;
  }
  
  &.weapon {
    background-color: $smort-yellow;
  }
  
  &.boss {
    background-color: $rebecca;
  }
  
  &.lvl-door {
    background-color: $deep-gray;
  }
}
